@font-face
{
    font-family: NovelPro-Light;

    src: url(/fonts/237E72_2_0.eot);
    src: url(/fonts/237E72_2_0.eot?#iefix) format('embedded-opentype'),url(/fonts/237E72_2_0.woff) format('woff'),url(/fonts/237E72_2_0.ttf) format('truetype');
}@font-face
{
    font-family: NovelPro-SemiBoldIt;

    src: url(/fonts/237E72_4_0.eot);
    src: url(/fonts/237E72_4_0.eot?#iefix) format('embedded-opentype'),url(/fonts/237E72_4_0.woff) format('woff'),url(/fonts/237E72_4_0.ttf) format('truetype');
}@font-face
{
    font-family: NovelSansPro-Light;

    src: url(/fonts/237E72_E_0.eot);
    src: url(/fonts/237E72_E_0.eot?#iefix) format('embedded-opentype'),url(/fonts/237E72_E_0.woff) format('woff'),url(/fonts/237E72_E_0.ttf) format('truetype');
}@font-face
{
    font-family: NovelSansPro-Regular;

    src: url(/fonts/237E72_12_0.eot);
    src: url(/fonts/237E72_12_0.eot?#iefix) format('embedded-opentype'),url(/fonts/237E72_12_0.woff) format('woff'),url(/fonts/237E72_12_0.ttf) format('truetype');
}@font-face
{
    font-family: NovelSansPro-SemiBold;

    src: url(/fonts/237E72_11_0.eot);
    src: url(/fonts/237E72_11_0.eot?#iefix) format('embedded-opentype'),url(/fonts/237E72_11_0.woff) format('woff'),url(/fonts/237E72_11_0.ttf) format('truetype');
}@font-face
{
    font-family: NovelMonoPro-Bold;

    src: url(/fonts/237E72_1B_0.eot);
    src: url(/fonts/237E72_1B_0.eot?#iefix) format('embedded-opentype'),url(/fonts/237E72_1B_0.woff) format('woff'),url(/fonts/237E72_1B_0.ttf) format('truetype');
}@font-face
{
    font-family: NovelPro-It;

    src: url(/fonts/237E72_B_0.eot);
    src: url(/fonts/237E72_B_0.eot?#iefix) format('embedded-opentype'),url(/fonts/237E72_B_0.woff) format('woff'),url(/fonts/237E72_B_0.ttf) format('truetype');
}@font-face
{
    font-family: NovelPro-SemiBold;
    src: url(/fonts/237E72_5_0.eot);
    src: url(/fonts/237E72_5_0.eot?#iefix) format('embedded-opentype'),url(/fonts/237E72_5_0.woff) format('woff'),url(/fonts/237E72_5_0.ttf) format('truetype');
}


body
{
    -webkit-user-select: none;  /* Chrome all / Safari all */
       -moz-user-select: none;     /* Firefox all */
        -ms-user-select: none;      /* IE 10+ */
            user-select: none;          /* Likely future */
}

::selection
{
    background: #ffb7b7; /* WebKit/Blink Browsers */
}
::-moz-selection
{
    background: #ffb7b7; /* Gecko Browsers */
}
/*
  PRIMARY LAYOUT
*/
.container
{
    font-family: "NovelPro-Light", serif;
    font-size : 1.1em;

    position: fixed;

    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}



.col-left,
.col-middle,
.col-right
{
    position: absolute;
    top: 0;

    overflow: hidden;

    height: 100%;
    padding: 0;
}

.col-left
{
    /*background: rgba(0,0,0,.01);*/
}

.col-middle
{
    background: white;
}

.col-right
{
    background: rgba(0,0,0,.02);
    font-family : 'NovelSansPro-Regular';
}

.col-0
{
    width: 0;
}

/*
  SECONDARY LAYOUT
*/

.left-col-wrapper
{
    position: fixed;
    z-index: 2;

    overflow: hidden;

    height: 100%;
    padding: 2em;
    padding-right : 0;

    background: white;
}

.left-col-wrapper.col-xs-1{
    padding-top : 0.5em;
    padding-left :0.5em;
}

.middle-col-wrapper
{
    overflow: hidden;

    height: 100%;
    padding: 0;
}

.aside-col-wrapper
{
    right: 0;

    overflow: hidden;

    height: 100%;
    padding: 0;
}


.col-xs-6 .middle-col-wrapper
{
    /*padding-left: 15%;*/
}

.col-xs-10 .middle-col-wrapper,
.col-xs-12 .middle-col-wrapper
{
    padding-right: 20%;
    padding-left: 20%;
}

.middle-col-container
{
    overflow-x: hidden;
    overflow-y: auto;

    width: 110%;
    height: 100%;
    padding-top: 2em;
    padding-right: 12%;
    /*padding-left: 2em;*/
}

/*
  TERTIARY LAYOUT
*/



.col-handler
{
    position: absolute;
    top: 0;
}

.col-handler-pullleft
{
    left: 0;
}

.col-handler-pullright
{
    right: 0;
}

.aside-header
{
    overflow: hidden;

    width: 100%;
    height: 10%;
    padding-right: 20%;
    padding-left: 20%;

    text-align: center;

    background: rgba(0,0,0,.01);
}

.aside-contents-container
{
    overflow: auto;

    width: 100%;
    height: 90%;

    background: white;
}


.middle-col-contents-main
{
    position: relative;

    padding-bottom: 12em;
    padding-left: 12em;

    -webkit-user-select: all;  /* Chrome all / Safari all */
       -moz-user-select: all;     /* Firefox all */
        -ms-user-select: all;      /* IE 10+ */
            user-select: all;          /* Likely future */
}

/*
  GENERIC COMPONENTS
*/

a,
a:hover,
a:active,
a:visited,
a:link
{
    font-weight: 800;

    text-decoration: none;

    color: inherit;
}

a.active
{
    color: white;
    background: black;
}

iframe
{
    width: 100%;

    border: none;
}

.middle-col-container .free-embed-iframe
{
    height: 1000px;
}

table
{
    font-size: .8em;

    width: 100%;
    margin-bottom: 2em;
    padding: 1em;
}

td,
th
{
    padding: 1em;

    border: 1px dashed black;
}

tbody tr:first-child
{
    /*font-weight: 800;*/
}

.grid
{
    height: 200px;
}

.flex-container
{
    display: flex;
}


/*
SPECIFIC COMPONENTS
*/

.middle-col-container
{
    font-size: 1.4em;
}

.middle-col-container h1:not(:first-child)
{
    margin-top: 2em;
    margin-bottom: 1em;
}

.modulo-aside-trigger{
    font-family : 'NovelSansPro-Light';
    margin : 2em 0 2em 0;
    font-size : .6em;
    padding : .2em 1em .2em 1em;
    background: brown;
    border-radius : .8em;
    display : inline-block;
    color : white;
    overflow : hidden;
}

.modulo-aside-trigger.inactive:not(:hover){
    max-width : 10px;
    max-height : 10px;
    color : brown;
    padding : 0;
}

.modulo-href-trigger.active{
    color : brown;
}

.modulo-href-trigger
{
    /*font-style: italic;*/
    cursor: pointer;
    text-decoration: underline;
}

.modulo-href-trigger:hover
{
    font-weight : 800;
}

.modulo-footnote-pointer
{
    font-size: .8em;
    line-height: .8em;

    position: relative;
    bottom: 1px;

    cursor: pointer;
    vertical-align: super;
    text-decoration: none;
    text-decoration: underline;
}

.modulo-footnote-item
{
    font-size: .7em;
    font-family : 'NovelSansPro-Light';

    position: absolute;
    top: 0;
    left: 1em;

    overflow: hidden;

    width: 15em;

    cursor: pointer;
    -webkit-transition: background .5s ease;
       -moz-transition: background .5s ease;
        -ms-transition: background .5s ease;
         -o-transition: background .5s ease;
    text-align: right;

    opacity: .5;
}

.modulo-footnote-item:hover
{
    opacity: 1!important;
}

.modulo-footnote-item.active,
.modulo-footnote-pointer.active
{
    background: rgba(0,0,0,.2);
}


.doc-title
{
    cursor: pointer;
    padding : 0;
    margin : 0;
}

.col-xs-1 .doc-title{
    font-size : 1em;
}

.index-toggler{
    text-transform : uppercase;
    font-family : 'NovelSansPro-SemiBold';
    margin : 0;
    padding : 0;
    opacity : .5;
}

.index-toggler:hover{
    opacity : .8;
    border-bottom : 1px solid black;
}

.index-toggler.active{
    opacity : 1;
    font-size : 1.2em;
    border-bottom : 1px solid black;
    margin-bottom : 1em;
}

.index-toggler button{
    background : none;
    outline : none;
    border : none;
    padding : 0;
    margin : 0;
}

.toc{
    overflow-y : auto;
    overflow-x : hidden;
    width : 110%;
    padding-right : 10%;
}

.toc-element
{
    margin-bottom: 1em;

    opacity: .5;
}

.toc-element.active
{
    text-decoration: underline;

    opacity: 1;
}

/*
TRANSITIONS
*/

.animate
{
    -webkit-transition: all .5s ease;
       -moz-transition: all .5s ease;
        -ms-transition: all .5s ease;
         -o-transition: all .5s ease;
}

.animate-fast
{
    -webkit-transition: all .1s ease;
       -moz-transition: all .1s ease;
        -ms-transition: all .1s ease;
         -o-transition: all .1s ease;
}

.animate.ng-enter.ng-enter-active,
.animate.ng-leave,
.animate-fast.ng-enter.ng-enter-active,
.animate-fast.ng-leave
{
    opacity: 1;
}

/* Remove animation */
.animate.ng-leave.ng-leave-active,
.animate.ng-enter,
.animate-fast.ng-leave.ng-leave-active,
.animate-fast.ng-enter
{
    opacity: 0;
}

.animate.ng-hide-add-active,
.animate-fast.ng-hide-add-active
{
    opacity: 0;
}
.animate.ng-hide-remove-active,
.animate-fast.ng-hide-remove-active
{
    opacity: 1;
}

.animate.ng-show-add-active,
.animate-fast.ng-show-add-active
{
    opacity: 0;
}
.animate.ng-show-remove-active,
.animate-fast.ng-show-remove-active
{
    opacity: 1;
}

/*
  SPECIFIC COMPONENTS
*/


.aside-header h1
{
    font-size: 1.3em;

    margin: 0;
    margin-top: 1em;
    padding: 0;

    text-transform: uppercase;
}

.aside-header .close-popup
{
    position: absolute;
    top: 0;
    right: 0;
}


/*
carousel
*/

.carousel
{
    height: 500px;

    background: black;
}

.carousel img
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    max-width: 100%;
    max-height: 100%;
    margin: auto;
}
.carousel li
{
    position: relative;

    overflow: hidden;

    height: 500px;

    text-align: center;
}

.pdf-viewer-embed
{
    width: 100%;
    height: 500px;
}
