/*@font-face
{
    font-family: NovelPro-Light;

    src: url(/fonts/237E72_2_0.eot);
    src: url(/fonts/237E72_2_0.eot?#iefix) format('embedded-opentype'),url(/fonts/237E72_2_0.woff) format('woff'),url(/fonts/237E72_2_0.ttf) format('truetype');
}@font-face
{
    font-family: NovelPro-SemiBoldIt;

    src: url(/fonts/237E72_4_0.eot);
    src: url(/fonts/237E72_4_0.eot?#iefix) format('embedded-opentype'),url(/fonts/237E72_4_0.woff) format('woff'),url(/fonts/237E72_4_0.ttf) format('truetype');
}@font-face
{
    font-family: NovelSansPro-Light;

    src: url(/fonts/237E72_E_0.eot);
    src: url(/fonts/237E72_E_0.eot?#iefix) format('embedded-opentype'),url(/fonts/237E72_E_0.woff) format('woff'),url(/fonts/237E72_E_0.ttf) format('truetype');
}@font-face
{
    font-family: NovelSansPro-Regular;

    src: url(/fonts/237E72_12_0.eot);
    src: url(/fonts/237E72_12_0.eot?#iefix) format('embedded-opentype'),url(/fonts/237E72_12_0.woff) format('woff'),url(/fonts/237E72_12_0.ttf) format('truetype');
}@font-face
{
    font-family: NovelSansPro-SemiBold;

    src: url(/fonts/237E72_11_0.eot);
    src: url(/fonts/237E72_11_0.eot?#iefix) format('embedded-opentype'),url(/fonts/237E72_11_0.woff) format('woff'),url(/fonts/237E72_11_0.ttf) format('truetype');
}@font-face
{
    font-family: NovelMonoPro-Bold;

    src: url(/fonts/237E72_1B_0.eot);
    src: url(/fonts/237E72_1B_0.eot?#iefix) format('embedded-opentype'),url(/fonts/237E72_1B_0.woff) format('woff'),url(/fonts/237E72_1B_0.ttf) format('truetype');
}@font-face
{
    font-family: NovelPro-It;

    src: url(/fonts/237E72_B_0.eot);
    src: url(/fonts/237E72_B_0.eot?#iefix) format('embedded-opentype'),url(/fonts/237E72_B_0.woff) format('woff'),url(/fonts/237E72_B_0.ttf) format('truetype');
}@font-face
{
    font-family: NovelPro-SemiBold;

    src: url(/fonts/237E72_5_0.eot);
    src: url(/fonts/237E72_5_0.eot?#iefix) format('embedded-opentype'),url(/fonts/237E72_5_0.woff) format('woff'),url(/fonts/237E72_5_0.ttf) format('truetype');
}



@font-face {
    font-family: NovelPro-ExtraLight-It;
    src: url('/fonts/novelpro-extralightit-webfont.eot');
    src: url('/fonts/novelpro-extralightit-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/novelpro-extralightit-webfont.woff2') format('woff2'),
         url('/fonts/novelpro-extralightit-webfont.woff') format('woff'),
         url('/fonts/novelpro-extralightit-webfont.ttf') format('truetype'),
         url('/fonts/novelpro-extralightit-webfont.svg#novel_proextralight_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: NovelPro-Bold-It;
    src: url('/fonts/novelpro-boldit-webfont.eot');
    src: url('/fonts/novelpro-boldit-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/novelpro-boldit-webfont.woff2') format('woff2'),
         url('/fonts/novelpro-boldit-webfont.woff') format('woff'),
         url('/fonts/novelpro-boldit-webfont.ttf') format('truetype'),
         url('/fonts/novelpro-boldit-webfont.svg#novel_probold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: NovelPro-Semibold;
    src: url('/fonts/novelpro-semibold-webfont.eot');
    src: url('/fonts/novelpro-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/novelpro-semibold-webfont.woff2') format('woff2'),
         url('/fonts/novelpro-semibold-webfont.woff') format('woff'),
         url('/fonts/novelpro-semibold-webfont.ttf') format('truetype'),
         url('/fonts/novelpro-semibold-webfont.svg#novel_prosemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: NovelPro-Bold;
    src: url('/fonts/novelpro-bold-webfont.eot');
    src: url('/fonts/novelpro-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/novelpro-bold-webfont.woff2') format('woff2'),
         url('/fonts/novelpro-bold-webfont.woff') format('woff'),
         url('/fonts/novelpro-bold-webfont.ttf') format('truetype'),
         url('/fonts/novelpro-bold-webfont.svg#novel_probold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: NovelPro-Extrabold-Italic;
    src: url('/fonts/novelpro-extraboldit-webfont.eot');
    src: url('/fonts/novelpro-extraboldit-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/novelpro-extraboldit-webfont.woff2') format('woff2'),
         url('/fonts/novelpro-extraboldit-webfont.woff') format('woff'),
         url('/fonts/novelpro-extraboldit-webfont.ttf') format('truetype'),
         url('/fonts/novelpro-extraboldit-webfont.svg#novel_proextrabold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: NovelPro-Regular;
    src: url('/fonts/novelpro-regular-webfont.eot');
    src: url('/fonts/novelpro-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/novelpro-regular-webfont.woff2') format('woff2'),
         url('/fonts/novelpro-regular-webfont.woff') format('woff'),
         url('/fonts/novelpro-regular-webfont.ttf') format('truetype'),
         url('/fonts/novelpro-regular-webfont.svg#novel_proregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: NovelPro-Extralight;
    src: url('/fonts/novelpro-extrabold-webfont.eot');
    src: url('/fonts/novelpro-extrabold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/novelpro-extrabold-webfont.woff2') format('woff2'),
         url('/fonts/novelpro-extrabold-webfont.woff') format('woff'),
         url('/fonts/novelpro-extrabold-webfont.ttf') format('truetype'),
         url('/fonts/novelpro-extrabold-webfont.svg#novel_proextrabold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: NovelPro-Semibold-It;
    src: url('/fonts/novelpro-semiboldit-webfont.eot');
    src: url('/fonts/novelpro-semiboldit-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/novelpro-semiboldit-webfont.woff2') format('woff2'),
         url('/fonts/novelpro-semiboldit-webfont.woff') format('woff'),
         url('/fonts/novelpro-semiboldit-webfont.ttf') format('truetype'),
         url('/fonts/novelpro-semiboldit-webfont.svg#novel_prosemibold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: NovelPro-Light-It;
    src: url('/fonts/novelpro-lightit-webfont.eot');
    src: url('/fonts/novelpro-lightit-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/novelpro-lightit-webfont.woff2') format('woff2'),
         url('/fonts/novelpro-lightit-webfont.woff') format('woff'),
         url('/fonts/novelpro-lightit-webfont.ttf') format('truetype'),
         url('/fonts/novelpro-lightit-webfont.svg#novel_prolight_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: NovelPro-It;
    src: url('/fonts/novelpro-regularit-webfont.eot');
    src: url('/fonts/novelpro-regularit-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/novelpro-regularit-webfont.woff2') format('woff2'),
         url('/fonts/novelpro-regularit-webfont.woff') format('woff'),
         url('/fonts/novelpro-regularit-webfont.ttf') format('truetype'),
         url('/fonts/novelpro-regularit-webfont.svg#novel_proitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: NovelPro-Light;
    src: url('/fonts/novelpro-light-webfont.eot');
    src: url('/fonts/novelpro-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/novelpro-light-webfont.woff2') format('woff2'),
         url('/fonts/novelpro-light-webfont.woff') format('woff'),
         url('/fonts/novelpro-light-webfont.ttf') format('truetype'),
         url('/fonts/novelpro-light-webfont.svg#novel_prolight') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: NovelPro-Extralight;
    src: url('/fonts/novelpro-extralight-webfont.eot');
    src: url('/fonts/novelpro-extralight-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/novelpro-extralight-webfont.woff2') format('woff2'),
         url('/fonts/novelpro-extralight-webfont.woff') format('woff'),
         url('/fonts/novelpro-extralight-webfont.ttf') format('truetype'),
         url('/fonts/novelpro-extralight-webfont.svg#novel_proextralight') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: NovelSansPro-Extralight;
    src: url('/fonts/novelsanspro_extralight-webfont.eot');
    src: url('/fonts/novelsanspro_extralight-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/novelsanspro_extralight-webfont.woff2') format('woff2'),
         url('/fonts/novelsanspro_extralight-webfont.woff') format('woff'),
         url('/fonts/novelsanspro_extralight-webfont.ttf') format('truetype'),
         url('/fonts/novelsanspro_extralight-webfont.svg#novel_sans_proextralight') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: NovelSansPro-Semibold-It;
    src: url('/fonts/novelsanspro_semiboldit-webfont.eot');
    src: url('/fonts/novelsanspro_semiboldit-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/novelsanspro_semiboldit-webfont.woff2') format('woff2'),
         url('/fonts/novelsanspro_semiboldit-webfont.woff') format('woff'),
         url('/fonts/novelsanspro_semiboldit-webfont.ttf') format('truetype'),
         url('/fonts/novelsanspro_semiboldit-webfont.svg#novel_sans_prosemibold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: NovelSansPro-Semibold;
    src: url('/fonts/novelsanspro_semibold-webfont.eot');
    src: url('/fonts/novelsanspro_semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/novelsanspro_semibold-webfont.woff2') format('woff2'),
         url('/fonts/novelsanspro_semibold-webfont.woff') format('woff'),
         url('/fonts/novelsanspro_semibold-webfont.ttf') format('truetype'),
         url('/fonts/novelsanspro_semibold-webfont.svg#novel_sans_prosemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: NovelSansPro-Bold-It;
    src: url('/fonts/novelsanspro_boldit-webfont.eot');
    src: url('/fonts/novelsanspro_boldit-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/novelsanspro_boldit-webfont.woff2') format('woff2'),
         url('/fonts/novelsanspro_boldit-webfont.woff') format('woff'),
         url('/fonts/novelsanspro_boldit-webfont.ttf') format('truetype'),
         url('/fonts/novelsanspro_boldit-webfont.svg#novel_sans_probold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: NovelSansPro-Bold;
    src: url('/fonts/novelsanspro_bold-webfont.eot');
    src: url('/fonts/novelsanspro_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/novelsanspro_bold-webfont.woff2') format('woff2'),
         url('/fonts/novelsanspro_bold-webfont.woff') format('woff'),
         url('/fonts/novelsanspro_bold-webfont.ttf') format('truetype'),
         url('/fonts/novelsanspro_bold-webfont.svg#novel_sans_probold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: NovelSansPro-Regular;
    src: url('/fonts/novelsanspro_regular-webfont.eot');
    src: url('/fonts/novelsanspro_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/novelsanspro_regular-webfont.woff2') format('woff2'),
         url('/fonts/novelsanspro_regular-webfont.woff') format('woff'),
         url('/fonts/novelsanspro_regular-webfont.ttf') format('truetype'),
         url('/fonts/novelsanspro_regular-webfont.svg#novel_sans_proregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: NovelSansPro-Extrabold;
    src: url('/fonts/novelsanspro_extrabold-webfont.eot');
    src: url('/fonts/novelsanspro_extrabold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/novelsanspro_extrabold-webfont.woff2') format('woff2'),
         url('/fonts/novelsanspro_extrabold-webfont.woff') format('woff'),
         url('/fonts/novelsanspro_extrabold-webfont.ttf') format('truetype'),
         url('/fonts/novelsanspro_extrabold-webfont.svg#novel_sans_proextrabold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: NovelSansPro-Light;
    src: url('/fonts/novelsanspro_light-webfont.eot');
    src: url('/fonts/novelsanspro_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/novelsanspro_light-webfont.woff2') format('woff2'),
         url('/fonts/novelsanspro_light-webfont.woff') format('woff'),
         url('/fonts/novelsanspro_light-webfont.ttf') format('truetype'),
         url('/fonts/novelsanspro_light-webfont.svg#novel_sans_prolight') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: NovelSansPro-It;
    src: url('/fonts/novelsanspro_regularit-webfont.eot');
    src: url('/fonts/novelsanspro_regularit-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/novelsanspro_regularit-webfont.woff2') format('woff2'),
         url('/fonts/novelsanspro_regularit-webfont.woff') format('woff'),
         url('/fonts/novelsanspro_regularit-webfont.ttf') format('truetype'),
         url('/fonts/novelsanspro_regularit-webfont.svg#novel_sans_proitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: NovelSansPro-Extrabold-It;
    src: url('/fonts/novelsanspro_extraboldit-webfont.eot');
    src: url('/fonts/novelsanspro_extraboldit-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/novelsanspro_extraboldit-webfont.woff2') format('woff2'),
         url('/fonts/novelsanspro_extraboldit-webfont.woff') format('woff'),
         url('/fonts/novelsanspro_extraboldit-webfont.ttf') format('truetype'),
         url('/fonts/novelsanspro_extraboldit-webfont.svg#novel_sans_proXBdIt') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: NovelSansPro-Extralight-It;
    src: url('/fonts/novelsanspro_extralightit-webfont.eot');
    src: url('/fonts/novelsanspro_extralightit-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/novelsanspro_extralightit-webfont.woff2') format('woff2'),
         url('/fonts/novelsanspro_extralightit-webfont.woff') format('woff'),
         url('/fonts/novelsanspro_extralightit-webfont.ttf') format('truetype'),
         url('/fonts/novelsanspro_extralightit-webfont.svg#novel_sans_proXLtIt') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: NovelSansPro-Light-It;
    src: url('/fonts/novelsanspro_lightit-webfont.eot');
    src: url('/fonts/novelsanspro_lightit-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/novelsanspro_lightit-webfont.woff2') format('woff2'),
         url('/fonts/novelsanspro_lightit-webfont.woff') format('woff'),
         url('/fonts/novelsanspro_lightit-webfont.ttf') format('truetype'),
         url('/fonts/novelsanspro_lightit-webfont.svg#novel_sans_prolight_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}*/


@font-face
{
    font-family: NovelPro-Bold;

    src: url('webfonts/237E72_0_0.eot');
    src: url('webfonts/237E72_0_0.eot?#iefix') format('embedded-opentype'),url('webfonts/237E72_0_0.woff') format('woff'),url('webfonts/237E72_0_0.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


@font-face
{
    font-family: NovelPro-Light-It;

    src: url('webfonts/237E72_1_0.eot');
    src: url('webfonts/237E72_1_0.eot?#iefix') format('embedded-opentype'),url('webfonts/237E72_1_0.woff') format('woff'),url('webfonts/237E72_1_0.ttf') format('truetype');
}


@font-face
{
    font-family: NovelPro-Light;

    src: url('webfonts/237E72_2_0.eot');
    src: url('webfonts/237E72_2_0.eot?#iefix') format('embedded-opentype'),url('webfonts/237E72_2_0.woff') format('woff'),url('webfonts/237E72_2_0.ttf') format('truetype');
}


@font-face
{
    font-family: NovelPro-ExtraBold;

    src: url('webfonts/237E72_3_0.eot');
    src: url('webfonts/237E72_3_0.eot?#iefix') format('embedded-opentype'),url('webfonts/237E72_3_0.woff') format('woff'),url('webfonts/237E72_3_0.ttf') format('truetype');
}


@font-face
{
    font-family: NovelPro-SemiBold-It;

    src: url('webfonts/237E72_4_0.eot');
    src: url('webfonts/237E72_4_0.eot?#iefix') format('embedded-opentype'),url('webfonts/237E72_4_0.woff') format('woff'),url('webfonts/237E72_4_0.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


@font-face
{
    font-family: NovelPro-SemiBold;

    src: url('webfonts/237E72_5_0.eot');
    src: url('webfonts/237E72_5_0.eot?#iefix') format('embedded-opentype'),url('webfonts/237E72_5_0.woff') format('woff'),url('webfonts/237E72_5_0.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


@font-face
{
    font-family: 'NovelPro-Regular';

    src: url('webfonts/237E72_6_0.eot');
    src: url('webfonts/237E72_6_0.eot?#iefix') format('embedded-opentype'),url('webfonts/237E72_6_0.woff') format('woff'),url('webfonts/237E72_6_0.ttf') format('truetype');
}


@font-face
{
    font-family: 'NovelPro-ExtraLight-It';

    src: url('webfonts/237E72_7_0.eot');
    src: url('webfonts/237E72_7_0.eot?#iefix') format('embedded-opentype'),url('webfonts/237E72_7_0.woff') format('woff'),url('webfonts/237E72_7_0.ttf') format('truetype');
}


@font-face
{
    font-family: 'NovelPro-ExtraBold-It';

    src: url('webfonts/237E72_8_0.eot');
    src: url('webfonts/237E72_8_0.eot?#iefix') format('embedded-opentype'),url('webfonts/237E72_8_0.woff') format('woff'),url('webfonts/237E72_8_0.ttf') format('truetype');
}


@font-face
{
    font-family: 'NovelPro-Bold-It';

    src: url('webfonts/237E72_9_0.eot');
    src: url('webfonts/237E72_9_0.eot?#iefix') format('embedded-opentype'),url('webfonts/237E72_9_0.woff') format('woff'),url('webfonts/237E72_9_0.ttf') format('truetype');
}


@font-face
{
    font-family: 'NovelPro-ExtraLight';

    src: url('webfonts/237E72_A_0.eot');
    src: url('webfonts/237E72_A_0.eot?#iefix') format('embedded-opentype'),url('webfonts/237E72_A_0.woff') format('woff'),url('webfonts/237E72_A_0.ttf') format('truetype');
}


@font-face
{
    font-family: 'NovelPro-It';

    src: url('webfonts/237E72_B_0.eot');
    src: url('webfonts/237E72_B_0.eot?#iefix') format('embedded-opentype'),url('webfonts/237E72_B_0.woff') format('woff'),url('webfonts/237E72_B_0.ttf') format('truetype');
}


@font-face
{
    font-family: 'NovelSansPro-ExtraBold-It';

    src: url('webfonts/237E72_C_0.eot');
    src: url('webfonts/237E72_C_0.eot?#iefix') format('embedded-opentype'),url('webfonts/237E72_C_0.woff') format('woff'),url('webfonts/237E72_C_0.ttf') format('truetype');
}


@font-face
{
    font-family: 'NovelSansPro-Light-It';

    src: url('webfonts/237E72_D_0.eot');
    src: url('webfonts/237E72_D_0.eot?#iefix') format('embedded-opentype'),url('webfonts/237E72_D_0.woff') format('woff'),url('webfonts/237E72_D_0.ttf') format('truetype');
}


@font-face
{
    font-family: 'NovelSansPro-Light';

    src: url('webfonts/237E72_E_0.eot');
    src: url('webfonts/237E72_E_0.eot?#iefix') format('embedded-opentype'),url('webfonts/237E72_E_0.woff') format('woff'),url('webfonts/237E72_E_0.ttf') format('truetype');
}


@font-face
{
    font-family: 'NovelSansPro-ExtraLight';

    src: url('webfonts/237E72_F_0.eot');
    src: url('webfonts/237E72_F_0.eot?#iefix') format('embedded-opentype'),url('webfonts/237E72_F_0.woff') format('woff'),url('webfonts/237E72_F_0.ttf') format('truetype');
}


@font-face
{
    font-family: 'NovelSansPro-ExtraLight-It';

    src: url('webfonts/237E72_10_0.eot');
    src: url('webfonts/237E72_10_0.eot?#iefix') format('embedded-opentype'),url('webfonts/237E72_10_0.woff') format('woff'),url('webfonts/237E72_10_0.ttf') format('truetype');
}


@font-face
{
    font-family: 'NovelSansPro-SemiBold';

    src: url('webfonts/237E72_11_0.eot');
    src: url('webfonts/237E72_11_0.eot?#iefix') format('embedded-opentype'),url('webfonts/237E72_11_0.woff') format('woff'),url('webfonts/237E72_11_0.ttf') format('truetype');
}


@font-face
{
    font-family: 'NovelSansPro-Regular';

    src: url('webfonts/237E72_12_0.eot');
    src: url('webfonts/237E72_12_0.eot?#iefix') format('embedded-opentype'),url('webfonts/237E72_12_0.woff') format('woff'),url('webfonts/237E72_12_0.ttf') format('truetype');
}


@font-face
{
    font-family: 'NovelSansPro-ExtraBold';

    src: url('webfonts/237E72_13_0.eot');
    src: url('webfonts/237E72_13_0.eot?#iefix') format('embedded-opentype'),url('webfonts/237E72_13_0.woff') format('woff'),url('webfonts/237E72_13_0.ttf') format('truetype');
}


@font-face
{
    font-family: 'NovelSansPro-SemiBold-It';

    src: url('webfonts/237E72_14_0.eot');
    src: url('webfonts/237E72_14_0.eot?#iefix') format('embedded-opentype'),url('webfonts/237E72_14_0.woff') format('woff'),url('webfonts/237E72_14_0.ttf') format('truetype');
}


@font-face
{
    font-family: 'NovelSansPro-Bold-It';

    src: url('webfonts/237E72_15_0.eot');
    src: url('webfonts/237E72_15_0.eot?#iefix') format('embedded-opentype'),url('webfonts/237E72_15_0.woff') format('woff'),url('webfonts/237E72_15_0.ttf') format('truetype');
}


@font-face
{
    font-family: 'NovelSansPro-Bold';

    src: url('webfonts/237E72_16_0.eot');
    src: url('webfonts/237E72_16_0.eot?#iefix') format('embedded-opentype'),url('webfonts/237E72_16_0.woff') format('woff'),url('webfonts/237E72_16_0.ttf') format('truetype');
}


@font-face
{
    font-family: 'NovelSansPro-It';

    src: url('webfonts/237E72_17_0.eot');
    src: url('webfonts/237E72_17_0.eot?#iefix') format('embedded-opentype'),url('webfonts/237E72_17_0.woff') format('woff'),url('webfonts/237E72_17_0.ttf') format('truetype');
}


@font-face
{
    font-family: 'NovelMonoPro-Regular-It';

    src: url('webfonts/237E72_18_0.eot');
    src: url('webfonts/237E72_18_0.eot?#iefix') format('embedded-opentype'),url('webfonts/237E72_18_0.woff') format('woff'),url('webfonts/237E72_18_0.ttf') format('truetype');
}


@font-face
{
    font-family: 'NovelMonoPro-Regular';

    src: url('webfonts/237E72_19_0.eot');
    src: url('webfonts/237E72_19_0.eot?#iefix') format('embedded-opentype'),url('webfonts/237E72_19_0.woff') format('woff'),url('webfonts/237E72_19_0.ttf') format('truetype');
}


@font-face
{
    font-family: 'NovelMonoPro-ExLight-It';

    src: url('webfonts/237E72_1A_0.eot');
    src: url('webfonts/237E72_1A_0.eot?#iefix') format('embedded-opentype'),url('webfonts/237E72_1A_0.woff') format('woff'),url('webfonts/237E72_1A_0.ttf') format('truetype');
}


@font-face
{
    font-family: 'NovelMonoPro-Bold';

    src: url('webfonts/237E72_1B_0.eot');
    src: url('webfonts/237E72_1B_0.eot?#iefix') format('embedded-opentype'),url('webfonts/237E72_1B_0.woff') format('woff'),url('webfonts/237E72_1B_0.ttf') format('truetype');
}


@font-face
{
    font-family: 'NovelMonoPro-Bold-It';

    src: url('webfonts/237E72_1C_0.eot');
    src: url('webfonts/237E72_1C_0.eot?#iefix') format('embedded-opentype'),url('webfonts/237E72_1C_0.woff') format('woff'),url('webfonts/237E72_1C_0.ttf') format('truetype');
}


@font-face
{
    font-family: 'NovelMonoPro-ExtraLight';

    src: url('webfonts/237E72_1D_0.eot');
    src: url('webfonts/237E72_1D_0.eot?#iefix') format('embedded-opentype'),url('webfonts/237E72_1D_0.woff') format('woff'),url('webfonts/237E72_1D_0.ttf') format('truetype');
}




body
{
    -webkit-user-select: none;  /* Chrome all / Safari all */
       -moz-user-select: none;     /* Firefox all */
        -ms-user-select: none;      /* IE 10+ */
            user-select: none;          /* Likely future */

    color: black;

      font-feature-settings: "onum","ss01","ss03","liga","kern";
    -moz-font-feature-settings: "onum","liga","ss01","ss03";
    -ms-font-feature-settings: "onum","ss01","ss03","liga","kern";
    -webkit-font-feature-settings: "onum","ss01","ss03","liga","kern";
    -o-font-feature-settings: "onum","ss01","ss03","liga","kern";

    text-rendering : optimizeLegibility;
}

::selection
{
    color: white;
    background: #ffb7b7; /* WebKit/Blink Browsers */
}
::-moz-selection
{
    color: white;
    background: #ffb7b7; /* Gecko Browsers */
}
/*
  PRIMARY LAYOUT
*/
.container
{
    font-family: 'NovelPro-Light', serif;

    position: fixed;

    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}



.col-left,
.col-middle,
.col-right
{
    position: absolute;
    top: 0;

    overflow: hidden;

    height: 100%;
    padding: 0;
}

.col-left
{
    /*background: rgba(0,0,0,.01);*/
}

.col-middle
{
    background: white;
}

.col-right
{
    font-family: 'NovelSansPro-Regular';
    /*background: rgba(0,0,0,.02);*/
}

.col-right a,
.col-right em
{
    font-family: 'NovelSansPro-It';
    font-style: normal;
    font-weight : normal;

}

.col-right strong
{
    font-family: 'NovelSansPro-Bold';
    font-style: normal;
    font-weight : normal;

}

.col-right strong > em
{
    font-family: 'NovelSansPro-Bold-It';
    font-style: normal;
    font-weight : normal;
}

.col-0
{
    width: 0;
}

/*
  SECONDARY LAYOUT
*/

.left-col-wrapper
{
    position: fixed;
    z-index: 2;

    overflow: hidden;
    overflow: visible;

    width: 20.6%;
    height: 100%;
    padding-top: 1em;
    /*padding: 2em;*/
    padding-right: 0;
    padding-left: 1em;

    pointer-events: none;

    background: transparent;
}

.left-col-wrapper.active
{
    background: white;
}

.middle-col-wrapper
{
    overflow: hidden;

    height: 100%;
    padding: 0;
}

.aside-col-wrapper
{
    right: 0;

    overflow: hidden;

    height: 100%;
    padding: 0;
}


.col-xs-6 .middle-col-wrapper
{
    /*padding-left: 15%;*/
}

.col-xs-10 .middle-col-wrapper,
.col-xs-12 .middle-col-wrapper
{
    /*padding-right: 20%;*/
    /*padding-left: 20%;*/
}

.middle-col-container
{
    overflow-x: hidden;
    overflow-y: auto;

    width: 110%;
    height: 100%;
    padding-top: 2em;
    padding-right: 12%;
    /*padding-left: 2em;*/
}

/*
  TERTIARY LAYOUT
*/



.col-handler
{
    position: absolute;
    top: 0;
}

.col-handler-pullleft
{
    left: 0;
}

.col-handler-pullright
{
    right: 0;
}

.aside-header
{
    overflow: hidden;

    width: 100%;
    padding-top: 2em;
    /*height: 10%;*/
    padding-right: 20%;
    padding-bottom: 2em;
    /*padding-left: 20%;*/
    padding-left: 1em;

    text-align: left;
    /*background: rgba(0,0,0,.01);*/
}

.aside-contents-container
{
    overflow: auto;

    width: 100%;
    height: 90%;
    padding: 0 1em 1em 1em;

    background: white;
}


.middle-col-contents-main
{
    position: relative;

    padding-right: 3em;
    padding-bottom: 12em;
    /*padding-left: 12em;*/
    padding-left: 33.3333333%;

    -webkit-user-select: text;  /* Chrome all / Safari all */
       -moz-user-select: text;     /* Firefox all */
        -ms-user-select: text;      /* IE 10+ */
            user-select: text;          /* Likely future */
}

/*
  GENERIC COMPONENTS
*/

.printonly
{
    display: none;
}

em
{
    font-family: 'NovelPro-It';
    font-style: normal;
    font-weight : normal;
}

strong
{
    font-family: 'NovelPro-Semibold';
    font-style: normal;
    font-weight : normal;
}
strong > em
{
    font-family: 'NovelPro-Semibold-It';
    font-style: normal;
    font-weight : normal;
}

::-webkit-scrollbar
{
    width: 1em;
}
::-webkit-scrollbar-button
{
    /* 2 */
}
::-webkit-scrollbar-track
{
    border-top: 1px solid rgba(0,0,0,.1);
    border-bottom: 1px solid rgba(0,0,0,.1);
}

::-webkit-scrollbar-thumb
{
    background: rgba(0,0,0,.1);
}
::-webkit-scrollbar-corner
{
    /* 6 */
}
::-webkit-resizer
{
    /* 7 */
}

scrollbar
{
    /*  clear useragent default style*/
    -moz-appearance: none !important;
}
/* buttons at two ends */
scrollbarbutton
{
    -moz-appearance: none !important;
}
/* the sliding part*/
thumb
{
    -moz-appearance: none !important;
}
scrollcorner
{
    resize: both;

    -moz-appearance: none !important;
}
/* vertical or horizontal */
scrollbar[orient='vertical']
{
    color: silver;
}


aside h1,
aside h2
{
    font-family: 'NovelPro-SemiBold';
}

aside h1,
figure h1
{
    font-size: 1.3em;
}

aside h2,
figure h2
{
    font-size: 1.3em;
}


a,
a:hover,
a:active,
a:visited,
a:link
{
    font-family: 'NovelPro-It';
    /*font-weight: 800;*/

    text-decoration: none;

    color: inherit;
}

a.active
{
    color: white;
    background: black;
}

iframe
{
    width: 100%;

    border: none;
}

.middle-col-container .free-embed-iframe
{
    height: 1000px;
}

td,
th
{
    padding: 1em;

    /*border: 1px dashed black;*/
    border : 1px solid grey;
    vertical-align : top;
}

table
{
    font-size: .8em;

    width: 100%;
    /*margin-bottom: 2em;*/
    margin-bottom: 0;
    padding: 1em;
}

table + table
{
    margin-bottom: 2em;
}

table + table thead tr
{
    border-top : 0;
}



tbody tr:first-child
{
    /*font-weight: 800;*/
}


blockquote
{
    border: none;
    -webkit-user-select: all;  /* Chrome all / Safari all */
       -moz-user-select: all;     /* Firefox all */
        -ms-user-select: all;      /* IE 10+ */
            user-select: all;          /* Likely future */

    padding : 0;
    font-size : 1em;
    padding-left : 1em;
    font-family : 'NovelPro-It';
}

.citation{
    font-family : 'NovelSansPro-Regular';
    padding : .5em;
    padding-left : 1em;
    background : rgb(230,230,230);
    display : block;
    font-size : .6em;
}

.citation em{
    font-family : 'NovelSansPro-It';
    font-variant : normal;
}

.grid
{
    height: 200px;
}

.flex-container
{
    display: flex;
}

/*
SPECIFIC COMPONENTS
*/




.left-col-wrapper h1
{
    margin-bottom: 1em;

    background: rgba(255,255,255,.7);
    /*opacity : 1;*/
}

.left-col-wrapper.active h1
{
    font-size: 1.4em;
}

.middle-col-container
{
    font-size: 1.3em;
}

.middle-col-container h1:not(:first-child)
{
    margin-top: 2em;
    margin-bottom: .5em;
}

.modulo-aside-trigger
{
    font-family: 'NovelSansPro-Light';

    display: inline-block;
    overflow: hidden;

    width: 100%;
    height: 1.8em;
    max-height: 300px;
    /*margin: 2em 0 2em 0;*/
    padding: .2em 1em .2em 1em;

    cursor: pointer;
    text-align: center;

    opacity: .8;
    color: white;
    color: brown;
    border-top: 1px solid brown;
    border-bottom: 1px solid brown;
    background: transparent;
}

.modulo-aside-trigger + p{
    margin : 0;
    padding : 0;
}



.modulo-aside-trigger.inactive
{
    min-width: 100%;
    /*max-height: 10px;*/

    opacity: .3;
}

.modulo-aside-trigger:hover
{
    /*max-height: 300px;*/

    opacity: 1;
}

.modulo-aside-trigger.inactive:hover
{
    opacity: .5;
}


.modulo-href-trigger.active
{
    color: brown;
}

.modulo-href-trigger
{
    /*font-style: italic;*/
    cursor: pointer;
    text-decoration: underline;
}

.modulo-href-trigger:hover
{
    font-family: 'NovelPro-Semibold';
}

/* footnotes */

.modulo-footnote-item
{
    font-family: 'NovelSansPro-Regular';
    font-size: .7em;

    position: absolute;
    top: 0;
    /*left: 1em;*/
    /*right : 74.5%;*/
    right: 68%;

    overflow: hidden;

    width: 20%;

    cursor: pointer;
    -webkit-transition: background .5s ease;
       -moz-transition: background .5s ease;
        -ms-transition: background .5s ease;
         -o-transition: background .5s ease;
    text-align: right;
    /*opacity: .5;*/

    opacity: .7;
}

.modulo-footnote-item:hover
{
    opacity: 1!important;
}

.modulo-footnote-item a,
.modulo-footnote-item em
{
    font-family: 'NovelSansPro-It';
    font-style: normal;
}

.modulo-footnote-item strong
{
    font-family: 'NovelSansPro-Bold';
    font-style: normal;
}

.modulo-footnote-item strong > em
{
    font-family: 'NovelSansPro-Bold-It';
    font-style: normal;
}

.modulo-footnote-pointer-placeholder
{
    display: none;
}

.modulo-footnote-pointer,
.modulo-footnote-marker
{
    line-height: 20px;

    display: inline-block;

    width: 20px;
    height: 20px;

    border-radius: 50%;

    margin-right : 1em;

}

.modulo-footnote-pointer{
    margin-right : .5em;
}

.modulo-footnote-pointer,
.modulo-footnote-pointer::before,
.modulo-footnote-pointer::after,
.modulo-footnote-marker,
.modulo-footnote-marker::before,
.modulo-footnote-marker::after
{
    font-size: .8em;
    line-height: .8em;

    position: relative;
    bottom: 1px;
    bottom: 0;

    padding-top: 7px;
    padding-left: 3.5px;

    cursor: pointer;
    vertical-align: super;
    text-decoration: none;
    /*text-decoration: underline;*/
}

.modulo-footnote-marker::before,
.modulo-footnote-marker::after
{
    line-height : .6em;
}

.modulo-footnote-pointer::before,
.modulo-footnote-pointer::after,
.modulo-footnote-marker::before,
.modulo-footnote-marker::after
{
    padding : 0;
    font-size : .6em;
}

.modulo-footnote-pointer::before,
.modulo-footnote-marker::before
{
    content  : "[";
}

.modulo-footnote-pointer::after,
.modulo-footnote-marker::after
{
    content  : "]";
}

.modulo-footnote-pointer-number,
.modulo-footnote-marker-number
{
    padding : 0 .3em 0 .3em;
}

.modulo-footnote-pointer.active .modulo-footnote-pointer-number,
.modulo-footnote-item.active .modulo-footnote-marker-number
{
    /*width: 20px;
    height: 20px;*/

    color: white;
    background: brown;
}


.modulo-footnote-pointer.active
{
    padding-left: 0;
    /*bottom : 0;
    text-decoration : none;
    padding-top : 7px;

    padding-left : 4.5px;*/

    text-align: center;
}



.doc-title
{
    font-size: 1pc;

    margin: 0;
    padding: 0;

    cursor: pointer;
    pointer-events: all;
}

.col-xs-1 .doc-title
{
    font-size: 1em;
}

.index-toggler
{
    font-family: 'NovelSansPro-SemiBold';

    padding: 0;

    text-transform: uppercase;
    pointer-events: all;
}

.index-toggler:not(.scrollAtTop)
{
    opacity: .5;
}

.index-toggler:hover
{
    opacity: .8;
    /*border-bottom: 1px solid black;*/
}

.index-toggler.active:not(.scrollAtTop)
{
    opacity: .8;
}



.index-toggler button
{
    margin: 0;
    padding: 0;

    border: none;
    outline: none;
    background: none;
}

.toc
{
    font-family: 'NovelSansPro-Regular';

    position: relative;
    /*overflow-x: hidden;
    overflow-y: auto;*/

    overflow: hidden;

    width: 100%;
    height: 100%;
    padding-top: 2em;
    /*opacity : 0;*/
    /*width: 110%;*/
    /*padding-right: 10%;*/
}

.toc-aside{
    overflow : visible;
}

.toc-aside.shown
{
    left: 0;

    overflow-y: auto;

    opacity: 1;
}

.toc-element
{
    margin-bottom: 1em;
    padding: 0;

    opacity: .5;
}

.toc-element a
{
    font-family: 'NovelSansPro-Regular';

    outline: none;
    text-transform : lowercase;

    font-feature-settings: "smcp","onum","ss01","ss03","liga","kern";
    -moz-font-feature-settings: "smcp","onum","liga","ss01","ss03";
    -ms-font-feature-settings: "smcp","onum","ss01","ss03","liga","kern";
    -webkit-font-feature-settings: "smcp","onum","ss01","ss03","liga","kern";
    -o-font-feature-settings: "smcp","onum","ss01","ss03","liga","kern";


}

.toc-element:hover{
    opacity : .9;
}

.toc-element.active
{
    /*text-decoration: underline;*/
    opacity: 1;
}


/*
TEXT BODY
*/

.middle-col-contents-main
{
    font-size: 1.1em;
}

.middle-col-contents-main li
{
    line-height: 1.7em;

    margin-bottom: .5em;
}

.middle-col-contents-main p
{
    line-height: 1.6em;

    margin-bottom: 2em;
}

.middle-col-contents-main h1,
.middle-col-contents-main h2
{
        font-family : "NovelSansPro-Regular";
    text-transform : lowercase;
      font-feature-settings: "smcp","onum","ss01","ss03","liga","kern";
    -moz-font-feature-settings: "smcp","onum","liga","ss01","ss03";
    -ms-font-feature-settings: "smcp","onum","ss01","ss03","liga","kern";
    -webkit-font-feature-settings: "smcp","onum","ss01","ss03","liga","kern";
    -o-font-feature-settings: "smcp","onum","ss01","ss03","liga","kern";
    line-height: 1.5em;
}

.middle-col-contents-main table
{
    font-size: .6em;
}

.middle-col-contents-main thead
{
    font-family: 'NovelSansPro-Bold';
}

.middle-col-contents-main tr
{
    font-family: 'NovelSansPro-Regular';
}

.middle-col-contents-main table p
{
    margin: 0;
}


.middle-col-contents-main h1:first-of-type
{
    margin-bottom: .6em;
}
.middle-col-contents-main .titre
{
    font-family: 'NovelPro-SemiBold';
    font-size: 5pc;
    line-height: 5pc;
}

.middle-col-contents-main .baseline
{
    font-family: 'NovelPro-Semibold-It';
    font-size: 2.5pc;
    line-height: 3.5pc;

    display: block;

    /*margin-bottom: 2em;*/
}

.middle-col-contents-main .author,
.middle-col-contents-main .authorinline
{
    /*font-size : 1.2pc;*/
    font-family: 'NovelPro-It';
}

.middle-col-contents-main .author
{
    /*display: block;*/

    margin-right: .5em;
}



.middle-col-contents-main .author:last-of-type
{
    margin-bottom: 3em;
}

/*
TRANSITIONS
*/

.animate
{
    -webkit-transition: all .5s ease;
       -moz-transition: all .5s ease;
        -ms-transition: all .5s ease;
         -o-transition: all .5s ease;
}

.animate-fast
{
    -webkit-transition: all .1s ease;
       -moz-transition: all .1s ease;
        -ms-transition: all .1s ease;
         -o-transition: all .1s ease;
}

.animate.ng-enter.ng-enter-active,
.animate.ng-leave,
.animate-fast.ng-enter.ng-enter-active,
.animate-fast.ng-leave
{
    opacity: 1;
}

/* Remove animation */
.animate.ng-leave.ng-leave-active,
.animate.ng-enter,
.animate-fast.ng-leave.ng-leave-active,
.animate-fast.ng-enter
{
    opacity: 0;
}

.animate.ng-hide-add-active,
.animate-fast.ng-hide-add-active
{
    opacity: 0;
}
.animate.ng-hide-remove-active,
.animate-fast.ng-hide-remove-active
{
    opacity: 1;
}

.animate.ng-show-add-active,
.animate-fast.ng-show-add-active
{
    opacity: 0;
}
.animate.ng-show-remove-active,
.animate-fast.ng-show-remove-active
{
    opacity: 1;
}

/*
  SPECIFIC COMPONENTS
*/

/*
Table of contents
*/
.toc-element
{
    position: relative;
}

.toc.shown
{
    pointer-events: all;
    overflow : visible;
}

.toc-aside .toc-element .toc-element-bullet,
lift
{
    line-height: .4em;

    position : relative;

    left: -1em;

    display: inline-block;

    width: 1em;
    height: .4em;

    pointer-events: all;

    opacity: .7;
    /*border-radius: 66.6666%;*/
    background: rgb(150,150,150);
}

lift
{
    background : brown;
    left : 0;
    width : .9em;
    position : fixed;
}

.toc-aside .toc.shown .toc-element-bullet
{
    /*line-height: .7em;

    position: absolute;
    top: .2em;
    left: 0;*/

    width: 1.2em;
    /*height: .7em;*/

    pointer-events: all;
}

.toc-element:hover .toc-element-bullet
{
    width: 1.5em;
    /*height: .7em;*/
}

.toc-aside .toc-element .toc-element-title
{
    position: relative;
    /*left: -100%;*/

    display: inline-block;

    opacity : 0;

    width: 80%;

    left: 1em;
}

.toc.shown .toc-element-title,
.toc-element:hover .toc-element-title
{
    /*left: 1em;*/

    opacity : 1;

    background: rgba(255,255,255,.8);
}


.toc-element:hover .toc-element-title
{
    /*font-size: 1.1em;*/

    z-index: 5;

    background: white;
}

/*.toc:not(.shown) .toc-element.active .toc-element-title
{
    font-size : .8em;
    opacity : .8;
}*/

.aside-header h1
{
    margin: 0;
    margin-top: 1em;
    padding: 0;
    padding-right: 1em;

    text-transform: uppercase;
}

.aside-header .close-popup
{
    position: absolute;
    top: 0;
    right: 0;
}

.xs-col-toggler
{
    line-height: 2em;
    line-height: -1em;

    position: fixed;
    z-index: 1000;
    top: 50%;
    right: 1%;

    display: none;

    width: 2em;
    height: 2em;

    -webkit-transition: all .5s ease;
       -moz-transition: all .5s ease;
        -ms-transition: all .5s ease;
         -o-transition: all .5s ease;
    vertical-align: super;

    opacity: .6;
    color: brown;
    border: none;
    border: 3px solid brown;
    border-radius: 50%;
    outline: none;
    background: transparent;
}

.xs-col-toggler .glyphicon
{
    position: absolute;
    top: .25em;
    left: .25em;
}

.xs-col-toggler:hover
{
    opacity: 1;
    color: white;
    background: brown;
}
.xs-col-toggler.pull-left
{
    right: 93.5%;

    -webkit-transform: rotate(-180deg); /* Chrome, Safari, Opera */
        -ms-transform: rotate(-180deg); /* IE 9 */
            transform: rotate(-180deg);
}

.xs-col-toggler:active
{
    outline: none;
}

/*
carousel
*/

.carousel
{
    height: 500px;

    background: black;
}

.carousel img
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    max-width: 100%;
    max-height: 100%;
    margin: auto;
}
.carousel li
{
    position: relative;

    overflow: hidden;

    height: 500px;

    text-align: center;
}

.pdf-viewer-embed
{
    width: 100%;
    height: 500px;
}

.anomaly
{
    font-family: NovelPro-Bold;
    font-size: 1.05em;
    font-variant: small-caps;

    padding: 0 .2em 0 .2em;

    word-spacing: .25em;
}


/*
media queries
*/



/*col-md*/
@media (max-width:1500px)
{
    .middle-col-contents-main p,
    .middle-col-contents-main li
    {
        font-size: .8em;
    }

    .middle-col-contents-main .titre
    {
        font-size: 3.5pc;
    }

    .middle-col-contents-main .baseline
    {
        font-size: 1.5pc;
        line-height: 2.2pc;

        margin-bottom: 2em;
    }

    .middle-col-contents-main .author
    {
        font-size: .8pc;
    }

    .left-col-wrapper
    {
        width: 25.5%;
    }
}

/*col-sm*/
@media (max-width:992px)
{
    .xs-col-toggler
    {
        display: inline-block;
    }

    .aside-contents-container
    {
        padding-left: 10%;
    }

    .middle-col-contents-main
    {
        padding-left: 30%;
    }

    .modulo-footnote-item
    {
        /*font-size : .7em!important;*/
        line-height: 1.3em!important;

        right: 71%;

        width: 25%;
    }

    .modulo-footnote-item,
    .middle-col-contents-main table
    {
        font-size: .7em!important;
    }

    .middle-col-contents-main .titre
    {
        font-size: 3pc;
    }

    .middle-col-contents-main .baseline
    {
        font-size: 2pc;
        line-height: 3pc;

        margin-bottom: 2em;
    }

    .middle-col-contents-main .author
    {
        font-size: 1.2pc;
    }

    .toc
    {
        font-size: .9em;
    }

    .scrollAtTop
    {
        display : none;
    }
}

/* col-xs */
@media (max-width :768px)
{
    .middle-col-contents-main p,
    .middle-col-contents-main li
    {
        font-size: 1.2em;
    }

    .index-toggler.scrollAtTop
    {
        opacity: .5;
    }

    .left-col-wrapper h1
    {
        height: 0;
        margin: 0;
        padding: 0;

        opacity: 0;
    }

    .left-col-wrapper.active h1
    {
        height: auto;
        margin-bottom: 1em;

        opacity: 1;
    }

    .middle-col-contents-main h1
    {
        font-size: 1.4pc;
        line-height: 2pc;
    }

    .middle-col-contents-main .titre
    {
        font-size: 1.5pc;
        line-height: 2pc;
    }


    .middle-col-contents-main .baseline
    {
        font-size: 1.3pc;
        line-height: 1.9pc;

        margin-bottom: 2em;
    }

    .middle-col-contents-main .author
    {
        font-size: 1pc;

        margin-left: 0;
    }
    .left-col-wrapper
    {
        width: 100%;
    }

    .middle-col-contents-main
    {
        padding-right: 10%;
    }

    .middle-col-container
    {
        font-size: .8em;
    }

    .toc
    {
        font-size: 1.2em;
    }

    .modulo-footnote-item
    {
        font-size: 1.1em!important;
    }
}
