.aside-contents-switcher
{
    width: 100%;
    height: 100%;
    position : relative;
}


/*modulo-vimeo*/
.modulo-vimeo
{
    overflow: hidden;

    width: 100%;
    height: 100%;
}

.modulo-vimeo .vimeo-video
{
    width: 100%;
    height: 100%;
}


/*modulo-dicto*/
.modulo-dicto
{
    overflow: hidden;

    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;
}
.modulo-dicto .vimeo-video
{
    position: absolute;

    width: 100%;
}

.modulo-dicto .text-container-temp
{
    overflow-y: auto;

    height: 100%;
}

.modulo-dicto .text-container-temp blockquote
{
    cursor: pointer;
    margin : .5em .5em .5em 0;
    border : none;
    font-size : 1em;
}


.modulo-dicto .text-container-temp blockquote.active
{
    background: rgba(0,0,0,.05);
}

.modulo-dicto .text-container-temp blockquote:hover
{
    background: rgba(0,0,0,.1);
}

.modulo-dicto .text-container-temp blockquote.active:hover
{
    background: rgba(0,0,0,.15);
}



/*modulo-sankey*/
.modulo-sankey
{
    overflow: hidden;

    width: 100%;
    height: 100%;
}

.modulo-sankey .sankey-container,
.modulo-sankey .comments-container
{
    width: 100%;
}

.modulo-sankey .sankey-container
{
    height: 100%;


}
.modulo-sankey .labels-container,
.modulo-sankey .vis-container
{
    position: absolute;
    /*top: 10%;*/
    /*height: 90%;*/

    top : 0;
    height : 100%;
}
.modulo-sankey .labels-container
{
    left: 0;

    width: 20%;

    text-align: right;
}



.modulo-sankey .label-wrapper
{
    display: flex;
}

.modulo-sankey .label-wrapper p
{
    padding-right: 1em;

    align-self: center;

    font-family : 'NovelSansPro-Bold';
}

.modulo-sankey .label-wrapper:first-child,
.modulo-sankey .label-wrapper:last-child
{
    display: block;

    padding-top: 0;
}

.modulo-sankey .label-wrapper:last-child p
{
    position: absolute;
    bottom: 0;
    left: 0;
}

.modulo-sankey .vis-container
{
    right: 0;

    width: 80%;
    padding-right: 2em;
}

.modulo-sankey .vis
{
    width: 100%;
    height: 100%;
}

.modulo-sankey .node rect
{
    cursor: pointer;

    stroke-width: 0;

    fill : #606465!important;


    stroke-width : 3px;
    stroke : white!important;
}

.modulo-sankey .node text{
    fill : white!important;
    cursor : pointer;
}

.modulo-sankey .sankey-footer
{
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    margin: 0;

    text-align: center;

    color: white;
    background: rgba(0,0,0,.8);
}

.modulo-sankey .sankey-footer p
{
    padding: 1em;
}

.modulo-sankey .sankey-footer:hover
{
    background: rgba(0,0,0,.9);
}

.modulo-sankey .link
{
    cursor: pointer;

    opacity: .2;

    fill: none;
    stroke: #000;
    stroke-opacity: .5;
}

.modulo-sankey .link:hover
{
    stroke-opacity: .9;
}



/*modulo-graph*/
.modulo-graph
{
    width: 100%;
    height: 100%;
}

.modulo-graph .graph-container,
.modulo-graph .graph-wrapper
{
    width: 100%;
    height: 100%;
}

.modulo-graph .graph-footer
{
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 100%;
    padding: 1em;

    text-align: center;

    color: white;
    background: rgba(0,0,0,.8);
}

.modulo-graph:hover .graph-footer
{
    background: rgba(0,0,0,.9);
}

.modulo-graph .graph-footer .comment
{
    font-style: italic;
}

.modulo-graph .graph-footer:hover
{
    background: rgba(0,0,0,.9);
}

.modulo-graph .graph-footer .filters-container
{
    display: flex;
}

.modulo-graph .graph-footer .filters-container button
{
    border: none!important;
    outline: none!important;
    background: rgba(255,255,255,.3);

    flex-grow: 1;
}

.modulo-graph .graph-footer .filters-container button:hover
{
    background: rgba(255,255,255,.6);
}

.modulo-graph .graph-footer .filters-container button.active
{
    color: black;
    background: rgba(255,255,255,.8);
}

.modulo-graph .graph-footer .filters-container button.active:hover
{
    color: black;
    background: rgba(255,255,255,.9);
}



/*modulo-iframe*/
.modulo-iframe,
.modulo-iframe iframe
{
    width: 100%;
    height: 100%;

    border: none;
    overflow : hidden;
}

.modulo-iframe .iframe-header{
    width : 100%;
    margin-bottom : 2em;
}

.modulo-iframe .iframe-footer
{
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 100%;
    padding: 1em;

    text-align: center;

    color: white;
    background: rgba(0,0,0,.8);
}

/*.modulo-iframe:hover .iframe-footer
{
    background: rgba(0,0,0,.8);
}*/

.modulo-iframe blockquote
{
    font-style : italic;
}

.modulo-iframe .iframe-header .iframe-link
{
    padding : 0 10px 0 30px;
    width : 100%;
    font-size : .8em;
    text-align : center;
}

/*.modulo-iframe .iframe-header:hover
{
    background: rgba(0,0,0,.9);
}*/


/*modulo-image*/
.modulo-image img
{
    width: 100%;
}

.modulo-image .comment-container{
    margin-top : 1em;
}

.modulo-image .comment
{
    padding: 1em;
    color : white;

    background: rgba(0,0,0,.8);
}

.modulo-image .comment:hover
{
    background: rgba(0,0,0,.9);
    color : white;
}

/*modulo-timeline*/
.modulo-timeline
{
    height: 100%;
}

.modulo-timeline-main-wrapper
{
    position: absolute;

    overflow: hidden;

    width: 100%;
    height: 100%;
}

.modulo-timeline-columns-wrapper
{
    position: absolute;

    display: flex;
    left : 10%;

    width: 90%;
    height: 100%;

    pointer-events: none;
}

.modulo-timeline-lift-wrapper
{
    position: absolute;
    left: 0;

    width: 10%;
    height: 100%;
}

.modulo-timeline-lift-content
{
    width: 100%;
    height: 100%;

    border : 1px dashed #c7c9c8;
}
.modulo-timeline-lift-content:hover
{
    background: rgba(0,0,0,.03);
}

.modulo-timeline-column
{
    overflow: hidden;

    height: 100%;

    flex-grow: 1;
}


.modulo-timeline-column-header
{
    z-index: 2;

    overflow-x: hidden;
    overflow-y: auto;

    height: 10%;

    pointer-events: all;

    font-size : .8em;

    background: rgba(255,255,255,.9);
}

.modulo-timeline-column-header h2
{
    font-size: .9em;

    margin: 0;
    margin-top: .2em;

    text-align: left;
    padding-left : 10%;
    text-transform: uppercase;

    color : black!important;
}

.modulo-timeline-column-layers-container
{
    position: relative;

    width: 100%;
    height: 100%;
}

.modulo-timeline-layer
{
    position: absolute;

    overflow: hidden;

    width: 100%;
    height: 100%;
}

.modulo-timeline-column-bg-line
{
    position: absolute;

    width: 100%;
    height: 100%;
    margin-left: 50%;
    /* border-left: 1px dashed black;*/
}



.modulo-timeline-main-timeline
{
    position: absolute;
    top: 0;
    left : 10%;

    width: 100%;
    height: 100%;
}

.modulo-timeline-additional-wrapper
{
    font-size: .5em;

    position: absolute;
    bottom: 0;

    overflow: hidden;

    width: 100%;
    height: 0;
    padding: 0;

    text-align: center;
    pointer-events: none;

    color: white;
    background: rgba(0,0,0,.5);
}


.modulo-timeline-additional-wrapper h4 img{
    width : 5em;
    margin-top : 2em;
}


.modulo-timeline-additional-wrapper.highlighted
{
    height: 20%;
    padding: 1em;
}

.modulo-timeline-additional-wrapper.expanded
{
    overflow-y: auto;

    height: 100%;
    padding: 3em 2em 1em;

    text-align: left;
    pointer-events: all;

    background: rgba(0,0,0,.9);
}

.modulo-timeline-additional-wrapper .close-additional-button
{
    position: absolute;
    top: 1em;
    right: 1em;

    cursor: pointer;
}

.modulo-timeline-additional-wrapper .content
{
    font-size: 2em;
}

.modulo-timeline .tick text{
    font-family : 'NovelSansPro-Bold';
    fill : brown;
}

.modulo-timeline .tick line{
    /*stroke : brown!important;*/
    stroke-width : 0!important;
}





/* graphical eleemnts */

.modulo-timeline-event
{
    cursor: pointer;
}

.modulo-timeline-event.circle{
    r: 5;
}

.modulo-timeline-event.line{
    /*stroke-dasharray:10,3;*/
    stroke-width : 3;
    opacity : .4;

    stroke : #c7c9c8!important;
}

.modulo-timeline-event.line:hover{
    /*stroke-dasharray:none;*/
    stroke-width : 5;
    stroke : black!important;
}

.modulo-timeline-event.line2{
    /*stroke-dasharray:10,3;*/
    stroke-width : 1;
    opacity : .4;
    stroke : #807b78!important;
    stroke-style : dashed;
}

.modulo-timeline-event.line2:hover{
    /*stroke-dasharray:none;*/
    stroke-width : 3;

    stroke : black!important;

}

.modulo-timeline-lift-event
{
    stroke : black!important;
}



.modulo-timeline-area
{
    opacity: .3;
    fill : #807b78!important;
}

.modulo-timeline-area:hover{
    opacity : .5;
}

.brush rect
{
    width: 100%;
}
.brush .background
{
    /*height : 100%;*/
}

.selecting circle
{
    fill-opacity: .2;
}

.selecting circle.selected
{
    stroke: #f00;
}

.resize path
{
    fill: #666;
    fill-opacity: .8;
    stroke: #000;
    stroke-width: 1.5px;
}

.axis line
{
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.axis path
{
    opacity: 0;
}

.axis text
{
    font-size : .5em;
}


.brush .extent
{
    fill-opacity: .125;
    shape-rendering: crispEdges;
}

.brush .resize rect
{
    visibility: visible!important;

    opacity: .5;
}




/* print */
@media print{
    .modulo-dicto
    {
        overflow : visible;
        position : relative;
        left : unset;
        top : unset;
    }
    .modulo-dicto blockquote{
        font-size : 10px!important;
    }

    .modulo-dicto .vimeo-video{
        display : none;
    }

    .modulo-dicto .text-container-temp{
        padding-top : 0!important;
    }
}
