<nav
  class="col-left animate"
  ng-class="setColClass('left')"
>

  <!--left-col-wrapper : main content-->
    <div
      class="left-col-wrapper animate"
      ng-class="{'col-xs-2':indexVisible,'col-xs-1':!indexVisible}"
      ng-show="showCols.left"
    >
      <h1 class="doc-title animate" du-scroll-container="middle-col-container" scroll-to-top ng-bind="documentTitle">Modulo</h1>

      <!--searchbox -->
      <!--<div class="searchbox flex-container">
        <span class="btn btn-xs">
          <span class="glyphicon glyphicon-search"></span>
        </span>
        <input type="text">
      </div>--> <!--end searchbox -->

      <div
          class="index-toggler animate"
          ng-class="{'active':indexVisible}"
      >
        <button
          ng-click="toggleIndex()"
        >Index</button>
      </div>

      <!--table of contents-->
      <div
        class="toc animate"
        du-scroll-container="middle-col-container"
        scrollspy-points
        ng-if="indexVisible"
        fit-screen-height
      >
        <div
          ng-repeat="el in contents.toc"
          ng-style="{'padding-left':(el.level * 5 - 5)+'px'}"
          du-scrollspy="#{{el.tag}}"
          scrollspy="#{{el.tag}}"
          class="toc-element animate"
        >
          <a ng-href="#{{el.tag}}" du-smooth-scroll ng-bind="el.title"></a>
        </div>
      </div><!--end table of contents-->

    </div><!--END left-colwrapper-->

  <!--
  <div
    class="btn col-handler col-handler-pullright"
    ng-click="showCols.left = false"
  >
    <span class="glyphicon glyphicon-chevron-left animate"></span>
  </div>
  -->
</nav>

<section
  class="col-middle animate"
  ng-class="setColClass('middle')"
>


  <!--middle-col-wrapper : main content-->
  <div
    class="middle-col-wrapper col-xs-12 animate"
    id="middle-col-wrapper"
    du-scroll-container="middle-col-container"
  >
    <!--middle-col-container : contents-->
    <div class="middle-col-container"  id="middle-col-container" top-scroll-trigger="topScrollToggle(top)">
      <div>
        <div class="middle-col-contents-main"   compile="contents.html"></div>
      </div>


      <!-- bibliography disabled for the moment -->
      <!--<div class="middle-col-contents-bibliography">
        <h3>Generated bibliography</h3>
        <p ng-repeat="bib in contents.bibliography track by $index" id="zotero-ref-element-{{$index+1}}">
          <a ng-href="#zotero-ref-pointer-{{$index+1}}" du-smooth-scroll>[{{$index+1}}]</a> {{bib.data.title}} by {{bib.data.creators[0].firstName}} {{bib.data.creators[0].lastName}}
        </p>
      </div>-->
    </div>
    <!--<div class="middle-col-container"  btf-markdown="contents.markdown">

    </div>--> <!--END middle-col-container : contents-->
  </div>
  <!--END middle-col-wrapper : main content-->


  <div
    class="btn col-handler col-handler-pullleft"
    ng-click="showCols.left = true"
    ng-show="!showCols.left"
  >
    <span class="glyphicon glyphicon-chevron-right animate"></span>
  </div>
  <div
    class="btn col-handler col-handler-pullright"
    ng-click="showCols.right = true"
    ng-show="!showCols.right"
  >
    <span class="glyphicon glyphicon-chevron-left" animate></span>
  </div>
</section>

<aside
  class="col-right animate"
  ng-class="setColClass('right')"
  ng-show="asideData"
>
  <div
    class="aside-col-wrapper"
    ng-show="showCols.right"
    moduloasidemanager
    asidedata='{{asideData}}'
  >
  </div>

  <!--<div
    class="btn col-handler col-handler-pullleft"
    ng-click="showCols.middle = !showCols.middle"

  >
    <span
      class="glyphicon glyphicon-chevron-left animate"
      ng-style="{
        'transform' : (!showCols.middle)?'rotate(180deg)':''
      }"></span>
  </div>

  <div
    class="btn col-handler col-handler-pullright"
    ng-click="showCols.right = false"
    ng-show='showCols.left || showCols.middle'
  >
    <span
      class="glyphicon glyphicon-chevron-right animate"
      ></span>
  </div>-->

  <div
    class="btn col-handler col-handler-pullright"
    ng-click="resetAside()"
    ng-show="popupAside"
  >
    <span
      class="glyphicon glyphicon-remove animate"
    >

    </span>
  </div>
</aside>
