<!-- modulo main template -->
<nav
  class="col-left animate"
  ng-class="{'scrollAtTop':scrollAtTop}"
  ng-class="setColClass('left')"
  ng-show="!scrollAtTop"
>

  <!--left-col-wrapper : main content-->
    <div
      class="left-col-wrapper col-xs-12 col-sm-2 animate"
      ng-class="{'active': indexVisible}"
      ng-show="showCols.left && showCols.middle"
    >
      <h1
        ng-class="{'scrollAtTop':scrollAtTop}"
        class="doc-title animate"
        du-scroll-container="middle-col-container"
        scroll-to-top ng-bind-html="documentTitle.split('.').join('.<br>')"
      >Modulo</h1>

      <!--searchbox -->
      <!--<div class="searchbox flex-container">
        <span class="btn btn-xs">
          <span class="glyphicon glyphicon-search"></span>
        </span>
        <input type="text">
      </div>--> <!--end searchbox -->

      <div
          class="index-toggler animate"
          ng-class="{'active':indexVisible,'scrollAtTop':scrollAtTop}"
      >
        <button
          ng-click="toggleIndex()"
        >
        <span class="glyphicon glyphicon-remove" ng-if="indexVisible"></span>
        Index
        </button>
      </div>

      <!--table of contents-->
      <div
        class="toc animate toc-aside"
        du-scroll-container="middle-col-container"
        scrollspy-points
        ng-class="{'shown':indexVisible,'scrollAtTop':scrollAtTop}"
        fit-screen-height
      >
        <div
          ng-repeat="el in contents.toc"
          ng-style="{'padding-left':((el.level-1) * 5 - 5)+'px'}"
          du-scrollspy="#{{el.tag}}"
          scrollspy="#{{el.tag}}"
          class="toc-element animate"
        >
          <a ng-href="#{{el.tag}}" du-smooth-scroll>
            <span class="toc-element-bullet animate"
            ></span>
            <span
              class="toc-element-title animate"
              ng-click="toggleIndex(false)"
              ng-bind="el.title"
            ></span>
          </a>
        </div>

        <lift
          scroll-target=".middle-col-container"
          update-on="{{indexVisible}}"
        ></lift>
      </div><!--end table of contents-->

    </div><!--END left-colwrapper-->

  <!--
  <div
    class="btn col-handler col-handler-pullright"
    ng-click="showCols.left = false"
  >
    <span class="glyphicon glyphicon-chevron-left animate"></span>
  </div>
  -->
</nav>

<section
  class="col-middle animate"
  ng-class="setColClass('middle')"
>
  <!--middle-col-wrapper : main content-->
  <div
    class="middle-col-wrapper col-xs-12 animate"
    id="middle-col-wrapper"
    du-scroll-container="middle-col-container"
  >
    <!--middle-col-container : contents-->
    <div class="middle-col-container"  id="middle-col-container" top-scroll-trigger="topScrollToggle(top)">
      <div>
        <article class="middle-col-contents-main"   compile="contents.html"></article>
      </div>


      <!-- bibliography disabled for the moment -->
      <!--<div class="middle-col-contents-bibliography">
        <h3>Generated bibliography</h3>
        <p ng-repeat="bib in contents.bibliography track by $index" id="zotero-ref-element-{{$index+1}}">
          <a ng-href="#zotero-ref-pointer-{{$index+1}}" du-smooth-scroll>[{{$index+1}}]</a> {{bib.data.title}} by {{bib.data.creators[0].firstName}} {{bib.data.creators[0].lastName}}
        </p>
      </div>-->
    </div>
    <!--<div class="middle-col-container"  btf-markdown="contents.markdown">

    </div>--> <!--END middle-col-container : contents-->
  </div>
  <!--END middle-col-wrapper : main content-->


  <div
    class="btn col-handler col-handler-pullleft"
    ng-click="showCols.left = true"
    ng-show="!showCols.left"
  >
    <span class="glyphicon glyphicon-chevron-right animate"></span>
  </div>
  <div
    class="btn col-handler col-handler-pullright"
    ng-click="showCols.right = true"
    ng-show="!showCols.right"
  >
    <span class="glyphicon glyphicon-chevron-left" animate></span>
  </div>
</section>


<button
  class="xs-col-toggler animate"
  title="{{(showCols.middle)?asideData.title:'Come back to main text'}}"
  ng-click="toggleCol('middle')"
  ng-class="{'pull-left':!showCols.middle}"
  ng-show="asideData"
>
  <span class="glyphicon glyphicon-chevron-right"></span>
</button>

<aside
  class="col-right animate"
  ng-class="setColClass('right')"
  ng-show="asideData"
>
  <div
    class="aside-col-wrapper"
    ng-show="showCols.right"
    moduloasidemanager
    asidedata='{{asideData}}'
  >
  </div>

  <div
    class="btn col-handler col-handler-pullleft"
    ng-click="resetAside()"
    ng-show="popupAside"
  >
    <span
      class="glyphicon glyphicon-remove animate"
    ></span>
  </div>
</aside>
