<!-- modulo graph figure template -->
<div class="graph-wrapper">
  <div class="graph-container"></div>
  <img class="printonly" ng-src="{{data.printImage}}" ng-if="data.printImage" alt="">
</div>

<div
  class="graph-footer animate"
  ng-init="caption = false"
  ng-style="{
    height : (caption)?'90%':'auto'
  }"
>
  <div class="filters-container"
    ng-if="newD.filters"
  >
    <button class="animate" ng-repeat="filter in newD.filters track by $index" ng-class="{'active':filter.active}" ng-click="switchFilter(filter, $index)">
      <span ng-if="filter.active" ng-bind="filter.nameActive"></span>
      <span ng-if="!filter.active" ng-bind="filter.nameInactive"></span>
    </button>
  </div>

   <p ng-bind="data.caption" class="caption" ng-if="data.caption"></p>

   <span class="glyphicon glyphicon-download"
              ng-init="exportOrder = false;"
              ng-click="export()";
  ></span>
</div>

