<div class="aside-header">
      <h1 ng-bind="data.title"></h1>
      <span
        class="close-popup btn btn-xs"
        ng-show="popupMode"
      >
        <span class="glyphicon glyphicon-remove"></span>
      </span>
    </div>

<div class="aside-contents-container">

  <div ng-switch="data.type" class="aside-contents-switcher" ng-style="{background:(data.background)?data.background:'inherit'}">
    <div ng-switch-when="html" modulo-content='{{data}}' class='modulo-html'>
    </div>
    <div ng-switch-when="image" modulo-content='{{data}}' class='modulo-image'>
    </div>
    <div ng-switch-when="timeline"  class="modulo-timeline" modulo-content='{{data}}'>
    </div>
    <div ng-switch-when="iframe"  class="modulo-iframe" modulo-content='{{data}}'>
    </div>
    <div ng-switch-when="graph"  class="modulo-graph" modulo-content='{{data}}'>
    </div>
    <div ng-switch-when="sankey"  class="modulo-sankey" modulo-content='{{data}}'>
    </div>
    <div ng-switch-when="dicto"  class="modulo-dicto" modulo-content='{{data}}'>
    </div>
  </div>
</div>
