<!-- modulo timeline template -->
<div
	class="modulo-timeline-main-wrapper animate"
>
	<div ng-bind="msg" class="animate" style="text-align : center" ng-show="data"></div>


	<div class="modulo-timeline-lift-wrapper">
		<svg class="modulo-timeline-lift-content">
		</svg>
	</div>

	<svg class="modulo-timeline-main-timeline animate">

	</svg>

	<div class="modulo-timeline-columns-wrapper">
		<div
			class="modulo-timeline-column animate"
			ng-repeat="column in data.columns track by $index"
		>
			<div class="modulo-timeline-column-header">
				<h2
					ng-repeat="layer in column.layers track by $index"
					ng-bind="layer.title"
					ng-style="{'color' : layer.color}"
				></h2>
			</div>
			<div class="modulo-timeline-column-layers-container">
				<div class="modulo-timeline-column-bg-line"></div>
			</div>
		</div>
	</div>
</div>


<div
	class="modulo-timeline-additional-wrapper animate"
	ng-class="{'highlighted' : highlighted, 'expanded' : detailMode}"
>
	<h4 ng-bind-html="highlighted.title"></h4>
	<h5 ng-if="highlighted.date" ng-bind="highlighted.date.original"></h5>
	<h6 ng-if="highlighted && !detailMode && highlighted.desc">Click to open details</h6>

	<div class="content" ng-if="detailMode" ng-bind-html="highlighted.desc"></div>

	<div
		class="btn btn-xs close-additional-button animate"
		ng-click="setDetailMode(false)"
		ng-if="detailMode"
	><span class="glyphicon glyphicon-remove"></span></div>
</div>

