<div class="aside-header">
      <h1 style="display:inline" ng-bind="data.title"></h1>

      <!--<span class="glyphicon glyphicon-download"
              ng-if="data.type == 'timeline'"
            svg-download=".aside-contents-container .modulo-timeline-main-timeline"
      ></span>

      <span class="glyphicon glyphicon-download"
              ng-if="data.type == 'sankey'"
            svg-download=".sankey-container svg"
      ></span>-->



      <span
        class="close-popup btn btn-xs"
        ng-show="popupMode"
      >
        <span class="glyphicon glyphicon-remove"></span>
      </span>
    </div>

<div class="aside-contents-container" ng-include="'views/modulo-aside-switch.html'">
</div>
