<!-- <div moduloasidemanager asidedata="{{localData}}" ng-include="'views/modulo-aside-switch.html'"></div> -->


<div moduloasidemanager asidedata="{{localData}}" class="figure-content">
  <div
    ng-switch="data.type"
    class="aside-contents-switcher"
    ng-style="{background:(data.background)?data.background:'inherit'}"
>
    <div ng-switch-when="html" modulo-content='{{data}}' class='modulo-html'>
    </div>

    <div ng-switch-when="image" modulo-content='{{data}}' class='modulo-image'>
    </div>

    <div ng-switch-when="timeline"  class="modulo-timeline" modulo-content='{{data}}'>
    </div>

    <div ng-switch-when="iframe"  class="modulo-iframe" modulo-content='{{data}}'>
    </div>

    <div ng-switch-when="graph"  class="modulo-graph" modulo-content='{{data}}' export-order="{{exportOrder}}">
    </div>

    <div ng-switch-when="sankey"  class="modulo-sankey" modulo-content='{{data}}'></div>


    <div ng-switch-when="dicto"  class="modulo-dicto" modulo-content='{{data}}'></div>

    <div ng-switch-when="vimeo" modulo-content='{{data}}' class='modulo-vimeo'>
    </div>

    </div>
  </div>
</div>

<figcaption>
  <p class="figcaption-header">
    <span>Figure <span ng-bind="data.index+1"></span> — </span><span ng-bind="data.title"></span>
  </p>
  <p ng-if="data.comment" ng-bind="data.comment"></p>
</figcaption>
