<!-- modulo iframe view template -->
<div ng-if="!data">Loading website ....</div>

<div
  class="iframe-header animate"
  ng-init="iframeOut = false"
  ng-style="{
    height : (iframeOut)?'100%':'auto'
  }"
>
  <blockquote ng-bind="data.quote" ng-if="data.quote"></blockquote>

  <div class="iframe-link animate">
    <a ng-href="{{data.url}}" target="_blank"> From {{data.url}} (click to open in a new window)</a>
  </div>

  <div class="iframe-toggler" ng-click="toggleShowIframe()" ng-if="enableIframeToggling">
  <span class="glyphicon"
  ng-class="{
    'glyphicon glyphicon-eye-open' : !showIframe,
    'glyphicon glyphicon-eye-close' : showIframe
  }"></span>
  Browse full webpage</div>


</div>

<iframe ng-if="showIframe" fit-screen-height ng-src="{{trustSrc(data.url)}}"></iframe>

