<!-- modulo figure dicto (commented video) -->
<vimeo-embed-mini
  class="vimeo-video"
  videourl = "{{data.metadata.mediaUrl}}"
  playerId="modulo-dicto"
  goto="goto"
>

</vimeo-embed-mini>

<div class="text-container-temp" fitprevious>
  <blockquote
    ng-repeat="paragraph in data.data track by $index"
    ng-bind = "paragraph.content"
    ng-click="goTo(paragraph.begin)"
    class="animate"
    ng-class="{'active':isActive(paragraph)}"
  ></blockquote>

  <h2 class="modulo-dicto-caption" ng-bind="data.metadata.caption" ></h2>

</div>
