<!-- modulo figure manager
I populate the aside with several types of div regarding the figure resource type -->


<div moduloasidemanager asidedata="{{localData}}" class="figure-content">
  <div
    ng-switch="data.type"
    class="aside-contents-switcher"
    ng-style="{background:(data.background)?data.background:'inherit'}"
>
    <div ng-switch-when="html" modulo-content='{{data}}' class='modulo-view modulo-html'>
    </div>

    <div ng-switch-when="image" modulo-content='{{data}}' class='modulo-view modulo-image'>
    </div>

    <div ng-switch-when="timeline"  class="modulo-view modulo-timeline" modulo-content='{{data}}'>
    </div>

    <div ng-switch-when="iframe"  class="modulo-view modulo-iframe" modulo-content='{{data}}'>
    </div>

    <div ng-switch-when="graph"  class="modulo-view modulo-graph" modulo-content='{{data}}' export-order="{{exportOrder}}">
    </div>

    <div ng-switch-when="sankey"  class="modulo-view modulo-sankey" modulo-content='{{data}}'></div>


    <div ng-switch-when="dicto"  class="modulo-view modulo-dicto" modulo-content='{{data}}'></div>

    <div ng-switch-when="vimeo" modulo-content='{{data}}' class='modulo-view modulo-vimeo'>
    </div>

    </div>
  </div>
</div>

<figcaption>
  <p class="figcaption-header">
    <span>Figure <span ng-bind="data.index+1"></span> — </span>.<span style="padding-left:.5em;" ng-bind-html="data.title"></span>
  </p>
  <p ng-if="data.caption">
    <span  ng-bind-html="data.caption"></span><span ng-if="data.url" ng-bind="data.url"></span>
  </p>
</figcaption>
